<ion-view view-title="Ayuda">
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>

<ion-content style="background-image: url('img/tapete.png'); color: #ccc;">

<div class="card">
  <div class="item item-divider">
    ¿Cómo se juega?
  </div>
  <div class="item item-text-wrap">
    El objetivo es eliminar todas las cartas del tablero encontrando, entre las cartas destapadas, pares que sumen 10 (Los Reyes valen 10 y se eliminan sólos, los Caballos valen 9 y las Sotas 8).
  </div>
</div>

<div class="card">
  <div class="item item-divider">
    Acerca de
  </div>
  <div class="item item-text-wrap">
    Solitario Pirámide v0.0.1</br>
    jvnadal &copy; 2016
  </div>
</div>

</ion-content>

</ion-view>
